.profil {
    min-height: 300px;
    background-color: white;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin-right: 10vw;

}

.profil img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.profil button {
    width: 50%;
    position: absolute;
    bottom: 0;
    height: 30px;
    background-color: white;
    border: unset;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;


    &:first-child {
        left: 0;
    }

    &:last-child {
        right: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}