.game {
    height: 200px;
    width: auto;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin-top: -1vw;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */

}

.example::-webkit-scrollbar {
    display: none;
  }
  
