
.ganzes{
 display: flex;
 flex-flow: column;
 justify-content: flex-start;
 margin-top: -2.5vw;

}

.container{
    display: grid;
    grid-template-columns: repeat(5, 100px [col-start]);

}
.item{
    flex-wrap: nowrap;

}
