.eventbox{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0.25vw;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

img{
    margin: 0.25vw;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

button{
    height: 40px;
    width: 100px;
    align-self: center;
}

.gegner{
    white-space: nowrap;
}
