<div class="ganz">
  <div class="background">
    <img
      src="assets\image\profilbild\pirateboy.png"
      alt=""
      class="backgroundPic"
    />
  </div>

  <div class="logPanel">
    <div>
      <p>Schiffsname</p>
      <input type="password" name="" id="" />
      <p>Benutzername</p>
      <input type="text" name="" id="" />

      <p>Passwort</p>
      <input type="password" name="" id="" />
    </div>

    <div class="knopfe">
      <button>Registrieren</button>
      <button routerLink="/" routerLinkActive="active">Zurück</button>
    </div>

    <a routerLink="/livegame" routerLinkActive="active">
      <button>Login umgehen</button></a
    >
  </div>

  <div class="titel">
    <h1>PirateGame</h1>
  </div>
</div>
