<div class="ganz">
  <div class="background">
    <img
      src="assets\image\profilbild\pirateboy.png"
      alt=""
      class="backgroundPic"
    />
  </div>

<div class="logPanel">

    <div>

    <form (ngSubmit)="signup()">
      <p>Schiffsname</p>
      <input type="schiffname" [(ngModel)]="schiffsname" name="schiffname" placeholder="">
      <p>Benutzername</p>
      <input type="text" [(ngModel)]="username" name="username" placeholder="">

      <p>Passwort</p>
      <input type="password" [(ngModel)]="password" name="password" placeholder="">

      <div class="knopfe">
        <button>Registrieren</button>
        <button routerLink="/" routerLinkActive="active">Zurück</button>
      </div>


    </form>
    </div>

</div>

    <div class="titel">
      <h1>PirateGame</h1>
  </div>
  


</div>
