




<div class="ganz">


    <div class="background">
        <img src="assets\image\profilbild\pirateboy.png" alt="" class="backgroundPic">
    
    </div>
    
<div class="logPanel">

    <div>

    <form (ngSubmit)="login()">
        <p>Benutzername</p>
        <input type="text" [(ngModel)]="username" name="username" placeholder="">
        <p>Passwort</p>
        <input type="password" [(ngModel)]="password" name="password" placeholder="">
        


        <div class="knopfe">
            <button type="submit">Anmelden</button>
            <button routerLink="/registrieren" routerLinkActive="active">Registrieren</button>
            </div>
        
            <a routerLink="/livegame" routerLinkActive="active"> <button>Login umgehen</button></a>

      </form>
      
    </div>



</div>



<div class="titel">
    <h1>PirateGame</h1>
</div>


</div>

