<div class="liveGame">

    <app-header ></app-header>



    <div class="container">
      <div class="dreierBlock">
          <div class="profWinBlock">
            <app-profil [id]="gibId()" class="item"></app-profil>
            <app-window class="item"></app-window>
          </div>

          <button (click)="addText()">Test</button>
          <app-textlog class="item" id="textLog" [text]="gibText()"></app-textlog>
      </div>


        <app-buttonraster class="item"></app-buttonraster>

        
    </div>
</div>
