.container {

    padding-top: 2vw;
    display: flex;
    flex-flow: row;
    align-self: auto;

}

.item{
    margin: 1vw;
}

.profWinBlock{
    display: flex;
    flex-flow: row;
}


.dreierBlock{
    display: flex;
    flex-flow: column;
}