<div class="bg">

    <div class="knopf">

   <!--    <button class="cross" (click)="schliessen()">X</button>  -->

        <div class="panel">

        
            <div class="rowSchiff">
                <img src="assets/image/schiffgross.png">
                <label for="">Schiff Upgrade</label>
                <label for="">100 Gold</label>
                <button (click)="upgradeSchiff()">Upgraden</button>

            </div>

            <div class="rowCrew">
                <img src="assets/image/profilbild/pirateboy.png">
                <label for="">Crew Upgrade</label>
                <label for="">100 Gold</label>
                <button (click)="upgradeCrew()">Upgraden</button>
            </div>

        </div>

    </div>


</div>